AutoMapper.3.2.1
EntityFramework.6.1.1
EntityFramework.ru.6.1.1
Microsoft.AspNet.Mvc.4.0.20710.0
Microsoft.AspNet.Mvc.ru.4.0.20710.0
Microsoft.AspNet.Razor.2.0.30506.0
Microsoft.AspNet.Razor.ru.2.0.30506.0
Microsoft.AspNet.WebApi.4.0.20710.0
Microsoft.AspNet.WebApi.Client.4.0.20710.0
Microsoft.AspNet.WebApi.Client.ru.4.0.20710.0
Microsoft.AspNet.WebApi.Core.4.0.20710.0
Microsoft.AspNet.WebApi.Core.ru.4.0.20710.0
Microsoft.AspNet.WebApi.WebHost.4.0.20710.0
Microsoft.AspNet.WebApi.WebHost.ru.4.0.20710.0
Microsoft.AspNet.WebPages.2.0.30506.0
Microsoft.AspNet.WebPages.Data.2.0.20710.0
Microsoft.AspNet.WebPages.ru.2.0.30506.0
Microsoft.AspNet.WebPages.WebData.2.0.30506.0
Microsoft.Net.Http.2.0.20710.0
Microsoft.Net.Http.ru.2.0.20710.0
Microsoft.Web.Infrastructure.1.0.0.0
microsoft-web-helpers.2.1.20710.2
Newtonsoft.Json.4.5.6
ServiceStack.3.9.71
ServiceStack.Api.Swagger.3.9.71
ServiceStack.Common.3.9.11
ServiceStack.Common.3.9.71
ServiceStack.Host.Mvc.3.9.71
ServiceStack.Mvc.3.9.14
ServiceStack.OrmLite.SqlServer.3.9.14
ServiceStack.Redis.3.9.11
ServiceStack.Text.3.9.71
ServiceStack.Text.4.0.30
WebActivator.1.5
bin
obj