<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!--<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />-->
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
    <!--Этот фрагмент чистит ссылки на MVC библиотеки, которые наследуются если API публикуется внутри MVC приложения-->
    <pages>
      <namespaces>
        <clear/>
      </namespaces>
    </pages>
  </system.web>

  <!-- for IIS 7+ -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />

      <!--Устранение проблем с недоступностью метода PUT (и др.) под IIS7+ (Отключает WebDAV, разрешает все методы)-->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="WebDAV" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0"
           path="*."
           verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
           type="System.Web.Handlers.TransferRequestHandler"
           resourceType="Unspecified"
           requireAccess="Script"
           preCondition="integratedMode,runtimeVersionv4.0" />

    </handlers>
  </system.webServer>

</configuration>
